body {
  padding: 0%;
  margin: 0%;
}
.main-auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}
.auth-container {
  display: flex;
  flex-direction: row;
  /* height: 325px; */
  width: 700px;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.auth-container-mobile {
  display: flex;
  flex-direction: column;
  width: 333px;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.upper-auth-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  border-radius: 10px 10px 0px 0px;
  color: #fff;
  background-color: #1e3c72;
}
.auth-logo-mobile {
  max-width: 50px;
  filter: brightness(0) invert(2);
  color: #fff;
}
.left-auth-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 50%;
  flex: 0 0 50%;
  width: 100%;
  border-radius: 10px 0px 0px 10px;
  color: #fff;
  background-color: #1e3c72;
}
.bottom-auth-container {
  width: 100%;
  height: 100% !important;
  border-radius: 0px 10px 10px 0px;
}
.right-auth-container {
  max-width: 50%;
  flex: 0 0 50%;
  width: 100%;
  height: 100% !important;
  border-radius: 0px 10px 10px 0px;
}
.auth-logo {
  filter: brightness(0) invert(2);
  color: #fff;
  width: 100px;
}
.auth-right-content {
  max-width: 300px;
  margin: auto;
  margin-bottom: 10px;
}
.submit-btn-login {
  margin-bottom: 0px;
  text-align: center;
}
.forgot-link {
  color: #020081;
  cursor: pointer;
}
.btn-submit {
  background-color: #1e3c72;
}
.form-login-item {
  margin: 15px 0;
}
.input-form-place::placeholder,
.input-form-place input::placeholder {
  font-family: "poppins-regular";
  padding: 0px;
}

:where(.css-dev-only-do-not-override-1n7nwfa).ant-form-vertical
  .ant-form-item-label,
:where(.css-dev-only-do-not-override-1n7nwfa).ant-col-24.ant-form-item-label,
:where(
    .css-dev-only-do-not-override-1n7nwfa
  ).ant-col-xl-24.ant-form-item-label {
  padding: 0px !important;
}
:where(.css-dev-only-do-not-override-1n7nwfa).ant-form-item
  .ant-form-item-label {
  overflow: initial;
}
.links-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.img-logo-dashboard {
  width: 40px;
}
.logo-container-nav {
  display: flex;
  margin: 10px 0px 10px 0px;
  justify-content: center;
  height: 50px;
}
.site-layout {
  margin-left: 200px;
  transition: 0.1s;
}

.site-layout-inner {
  margin-left: 80px;
  transition: 0.3s;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px !important;
}
.ant-drawer-wrapper-body {
  background-color: #1e3c72;
  font-weight: 600;
}
.ant-drawer-body {
  padding: 0px !important;
}
.view,
.edit,
.delete {
  color: #1e3c72;
  font-size: 20px;
}
.edit {
  margin-right: 20px;
}
.delete {
  color: #b61313;
  margin-left: 20px;
}
.add-client-btn {
  background-color: #1e3c72;
  color: #fff;
}
.add-client-btn:hover {
  background-color: #fff;
  color: #1e3c72;
}
.head-client {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
